*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.main{
    background-image: url("Img/IN-en-20240401-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px,100vw);
}
.main .box{
    background-color: black;
    height: 70vh;
    width: 100%;
    filter: opacity(60%);
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 62px;
    
}
nav img{
    height: 40px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    position: relative;
    gap: 23px;
    padding:0px 30px;
    text-align: center; 
    
}
.hero> :first-child{
    font-weight: bolder;
    font-size: 40px;
}
.hero> :nth-child(2){
    font-weight: 700;
    font-size: 24px;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
}
.separation{
    height: 6px;
    background-color: grey;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
.btn-red{
    background-color: red;
    color: white;
    padding:10px 30px 10px 30px;
    font-size: 20px ;
    border-radius: 4px;
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.main input{
    padding: 10px 0px 10px 40px;
    font-size: 20px ;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.5);
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-eng{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(23,23,23,0.5);
    color: white;
}

.frist{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    
    
    
}
.secimg{
    position: relative;
}
.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.video1 {
    position: absolute;
    top: 125px;
    right: 75px;
    width: 425px;
}
.video2 {
    position: absolute;
    top: 85px;
    right: 115px;
    width: 350px;
}

section.frist > div{
    display: flex;
    flex-direction: column;
     padding: 34px 0;
}

.frist> div :first-child{
    font-size: 40px;
    font-weight: bolder;
}

.frist> div :nth-child(2){
    font-size: 23px;
}
.hehe{
    padding-top: 20px;
}
.faq{
    color: azure;
    background-color: black;

    text-align: center;

    padding: 34px;
}
.box-faq{
    display: flex;
    background-color: rgb(78, 78, 78);
    justify-content: space-between;
    padding: 22px;
    width: 40vw;
    margin: 34px auto;
    cursor: pointer;
    font-size: 25px;

}
.box-faq:hover{
    background-color: gray;
}
.faq h1{
    font-size: 30px;
}
.footer{
    color: white;
    text-align: center;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 20px;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 60vw;
    margin: auto;
    
}
.footer-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
footer .questions{
    padding : 34px 0px;
}
@media only screen and (max-width:1000px) {
   .frist{
    flex-wrap: wrap;
   }
   .hero-btn{
    flex-direction: column;
   }
   .secimg img{
    width: 333px;
 
}
.video1 {
    position: absolute;
    top: 90px;
    right: 50px;
    width: 250px;
}
.video2 {
    position: absolute;
    top: 50px;
    right: 70px;
    width: 200px;
}
.frist> div :first-child{
    font-size: 30px;
    font-weight: bolder;
}

.frist> div :nth-child(2){
    font-size: 20px;
}
footer{
    grid-template-columns: 1fr 1fr;
}
.hero> :first-child{
    font-weight: bolder;
    font-size: 30px;
}
.hero> :nth-child(2){
    font-weight: 700;
    font-size: 20px;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 17px;
}
nav img{
    height: 30px;
    position: relative;
    z-index: 10;
}
}